body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

.Event {
  background-image: url(./assets/background_blue.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -40px -55px;
    height: 100vh;
}