html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'TTTravels';
  src: url(./fonts/TTTravels-DemiBold.eot) format('embedded-opentype'),url(./fonts/TTTravels-DemiBold.otf) format('opentype'),url(./fonts/TTTravels-DemiBold.woff) format('woff'),url(./fonts/TTTravels-DemiBold.ttf) format('truetype'),url(./fonts/TTTravels-DemiBold.svg#TTTravels-DemiBold) format('svg');
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary: #0075B0;
  --primary-light: hsl(200,80%,90%);
  --secondary: #9A3B26;
  --third: #EDCFB3;
  --fourth: #EF7659;
  --black: #222222;
  --white: #fffaf7;

  --base: 8px;
  --base2: calc(var(--base) * 2);
  --base3: calc(var(--base) * 3);
  --base4: calc(var(--base) * 4);
  --base5: calc(var(--base) * 5);
  --base6: calc(var(--base) * 6);
  --base7: calc(var(--base) * 7);
  --base8: calc(var(--base) * 8);
  --base9: calc(var(--base) * 9);
  --base10: calc(var(--base) * 10);
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: var(--white);
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'TTTravels', sans-serif; */
  margin-top: 0;
}

img {
  width: 100%;
  display: block;
}

/* Transitions */

.fade-enter-active {
  transition: all 0.1s linear;
}

.fade-leave-active {
  transition: all .1s linear;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}