.Counties {
  height: calc(100vh - 75px);
  overflow: auto;
}

.Counties_toolbar {
	background: url(../assets/background_blue.svg);
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	color: white;
	width: 100%;
  cursor: pointer;
  margin-bottom: 10px;
}

.Counties__county {
  padding: 10px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #777;
  border-bottom: 1px solid #eaeaea;
}

.Counties__county:hover {
  background: var(--primary-light);
}

.Counties__county__active {
  color: #333;
}