.Event {
  height: 100vh;
}

.Event_toolbar {
	background: url(../assets/background_blue.svg);
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	color: white;
	width: 100%;
	cursor: pointer;
}

.Event_image {
	filter: sepia(100%);
}
.EventInfo {
	display: flex;
	padding: 15px;
}
.EventInfo_date {
	padding: 10px;
	line-height: 1;

}
.EventInfo_date_month {
	text-align: center;
	margin: 0;
}
.EventInfo_date_number {
	font-weight: normal;
	font-size: 48px;
	text-align: center;
	margin: 0;
}
.EventInfo_meta {
	padding: 10px;
}
.EventInfo_name {
	/* font-weight: 800; */
	font-size:1.1rem;
}
.EventInfo_description {
	padding: 15px;
}
