.EventsPanel {
  height: calc(100vh - 75px);
  overflow: auto;
}

.EventsPanel__toolbar {
	background: url(../assets/background_blue.svg);
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	color: white;
	width: 100%;
	cursor: pointer;
}

.EventsPanel__header {
	height: 64px;
  background: url(../assets/background_blue.svg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.EventsPanel__event {
  padding: 15px;
	cursor: pointer;
	border-bottom: 1px solid #eaeaea;
}

.EventsPanel__event:hover {
  background: var(--primary-light);
}