.Event {
  background-image: url(../assets/background_blue.svg);
  background-repeat: no-repeat;
  /*background-size: cover;
  background-position: -40px -55px;*/
  background-size: 500px 1000px;
  background-position: -40px -400px;
  height: 100vh;
}
.CloseEvent {
	text-align: right;
	color: white;
	padding: 10px;
	font-weight: 700;
	border: 1px;

}
.Event_image {
	filter: sepia(60%);
}
.EventInfo {
	display: flex;
	padding: 15px;
}
.EventInfo_date {
	padding: 10px;
	line-height: 1;

}
.EventInfo_date_month {
	text-align: center;
	margin: 0;
}
.EventInfo_date_number {
	font-weight: normal;
	font-size: 48px;
	text-align: center;
	margin: 0;
}
.EventInfo_meta {
	padding: 10px;
}
.EventInfo_name {
	font-weight: 800;
}
.EventInfo_description {
	padding: 10px;
}
